/target
target/
*.db
*.parquet
duckdb_ast_debug.json

# Keep directory structure but ignore contents
/output/*
!/output/.gitkeep

!examples/simple/output/
examples/simple/output/*
!examples/simple/output/.gitkeep

# Ignore tmp directories
**/tmp/
